---
import trumpet from '../assets/illustration-trompette.svg';
import instagram from '../assets/instagram.svg';
import facebook from '../assets/facebook.svg';
import twitter from '../assets/twitter.svg';
import youtube from '../assets/youtube.svg';
---

<footer class="site-footer">
  <ul class="site-footer__links">
    <li><a href="/festival">A propos</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/infos">Infos pratiques</a></li>
  </ul>

  <div class="site-footer__socials" aria-label="Reseaux sociaux">
    <a href="https://instagram.com/fanfacomtoise" target="_blank" rel="noreferrer" aria-label="Instagram">
      <img src={instagram.src} alt="" aria-hidden="true" />
    </a>
    <a href="https://facebook.com/fanfacomtoise" target="_blank" rel="noreferrer" aria-label="Facebook">
      <img src={facebook.src} alt="" aria-hidden="true" />
    </a>
    <a href="https://x.com/fanfacomtoise" target="_blank" rel="noreferrer" aria-label="Twitter">
      <img src={twitter.src} alt="" aria-hidden="true" />
    </a>
    <a href="https://youtube.com/@fanfacomtoise" target="_blank" rel="noreferrer" aria-label="YouTube">
      <img src={youtube.src} alt="" aria-hidden="true" />
    </a>
  </div>

  <img src={trumpet.src} alt="Illustration trompette" class="site-footer__icon" />
</footer>